body {
    margin: 0;
    padding: 0;
}

.conter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    max-width: 397px;
    height: auto;
    margin: 0 auto;
}

.box0 {
    width: 100%;
    height: auto;
    z-index: 1;
}

.img1,.img2,.img3,.img4 {
    position: absolute;
    z-index: 2;
}

.img1 {
    top: 40%;
    left: 22%;
    width: 53%;
}

.img2 {
    top: 55%;
    left: 22%;
    width: 53%;
}

.img3 {
    top: 75%;
    left: 41%;
    width: 17%;
    height: auto;
}

.img4 {
    top: 10%;
    left: 12%;
    width: 76%;
    height: auto;
}

@media (min-width: 600px) {
    .conter {
        width: 70%;
    }
}

@media (min-width: 900px) {
    .conter {
        width: 60%;
    }
}
